*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containt{
    background-image: url(Illustrations/Bathome1.png);
    background-size: cover; 
    background-position: center; 
    width: 100vw;
    height: 150vh; 
    display: flex;
    justify-content: center;
    /* align-items: center;  */
}
.banniere{
    border-left: 3px solid rgba(255, 251, 251, 0.08);
    border-right: 4px solid rgba(255, 251, 251, 0.08);
    width: 85vw;
}

nav {
    margin-top: 50px;
    width: 80vw;
}



hr{
    margin-top: 120px;
    height: 5px;
    border: none;
    background-color: rgba(255, 251, 251, 0.08);
    background-color: rgba(255, 251, 251, 0.08);
}

.historique{
   
}